body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
	padding-top: 6px;
	padding-left: 10px;
	font-family: "Playfair Display", serif;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	padding-top: 5px;
	padding-right: 10px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
	font-family: arial;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px grey solid;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: #7d7d7d86;
	padding: 5px 10px;
}
.button:active {
	transform: translateY(1px);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
